@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: #fff;
    background: url(images/bg-desktop.svg) no-repeat center top;
    background-color: hsl(257, 40%, 49%);
}

.contentContainer { 
    width: 90vw; 
    margin: 0 auto; 
    overflow: hidden;
}

.header { 
    text-align: left; 
    margin: 20px auto; 
    width: 80vw; 
}
.header img{ height: 40px; }

.imgContainer img { width: 60vw; margin-top: 40px; }

.textContainer {
    width: 86%;
    margin: 0 auto;
}

.textContainer p {
    line-height: 165%;
    margin-top: 15px;
}

.register {
    border-radius: 20px;
    padding: 5px;
    width: 50%;
    background: #fff;
    border-color: transparent;
    box-shadow: 2px 3px 7px hsl(257, 41%, 32%);
    margin-top: 20px;
    margin-bottom: 40px;
    color: hsla(257, 40%, 49%, 0.87);
    font-size: 105%;
}

.register:hover, .register:active {
    background-color: hsl(300, 69%, 71%);
    color: #fff;
    cursor: pointer;
}

.social{
    width: 90vw;
    margin-top: 20px;
}
.fab {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 5px;
    margin: 5px;
}

.social i:hover, i:active {
    border-color: hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
    cursor: pointer;
}

.attribution {
    font-size: 12px;
    margin: 20px;
    padding: 10px;
}

.attribution a {
    color: #fff;
}


@media screen and (max-width: 555px) {
    body {
        background: url(images/bg-mobile.svg) no-repeat center top;
        background-color: hsl(257, 40%, 49%);
        background-size: contain;
    }
    .textContainer { margin-top: 50px;}
}

@media screen and (min-width: 560px) {
    body { max-width: 1440px; margin: 0 auto;}
    .header { margin-left: 0; width: 80vw; }
    .imgContainer img { width: 50vw; max-width: 700px; }
    .textContainer { width: 50vw; max-width: 500px; text-align: left; margin-left: 40px; }
    .main {
        display: flex;
        justify-content: center;
        align-items: center;      
    }
    .register { width: 200px; padding: 10px;}
    .social {text-align: right; max-width: 1240px; margin-top: 15px; }
    .fab { padding: 6px;}
    .fab:first-child {padding: 6px 8px;}
    footer {position: relative; bottom: 20px;}
}